.container_user {
  width: 100%;
  height: 300px;
  display: flex;
}

.profilepic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-top: -100px;
  margin-left: 50px;
}

.userdetails {
  margin-left: 350px;
  margin-top: -70px;
  margin-right: 150px;
  padding: 30px;
  border-width: 5px;
  border-style: solid;
  border-color: #f84464;
}

.userdetails > h1 {
  color: #f84464;
  font-size: 40px;
}

.userdetails > h2 {
  color: white;
  font-size: 40px;
}
.userdetails > h4 {
  color: white;
  font-size: 20px;
}
