.App {
	/* text-align: center; */
	background-color: #16161D;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #16161D;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #f84464; 
  border-radius: 3px;
}


html {
  scroll-behavior: smooth;
}